In [3]:
import os
import sys
import xml.etree.ElementTree as ET
import urllib.request as url_request
import urllib.parse as url_parse
import urllib.error as url_error
import pandas as pd

In [4]:
urlopen = url_request.urlopen
quote_plus = url_parse.quote_plus
urlencode = url_parse.urlencode
HTTPError = url_error.HTTPError

In [16]:
nan_char = '.'

In [5]:
root_url = 'https://api.stlouisfed.org/fred'

In [6]:
api_key='bf7e372a4731983197a88028a0d6c23c'

In [186]:
series_id = 'UMCSENT'

In [187]:
url = "%s/series/observations?series_id=%s" % (root_url, series_id)

In [188]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=UMCSENT'

In [189]:
url += '&api_key=' + api_key

In [190]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=UMCSENT&api_key=bf7e372a4731983197a88028a0d6c23c'

In [191]:
try:
    response = urlopen(url)
    root = ET.fromstring(response.read())
except HTTPError as exc:
    root = ET.fromstring(exc.read())
    raise ValueError(root.get('message'))

print(root)

<Element 'observations' at 0x7f3b7e183458>

In [192]:
data = {}

In [193]:
def parse_datetime(date_str, format='%Y-%m-%d'):
    rv = pd.to_datetime(date_str, format=format)
    if hasattr(rv, 'to_pydatetime'):
        rv = rv.to_pydatetime()
    return rv

In [194]:
for child in root.getchildren():
    val = child.get('value')
    if val == nan_char:
        val = float('NaN')
    else:
        val = float(val)
    data[parse_datetime(child.get('date'))] = val

In [195]:
#data

In [220]:
df3=pd.DataFrame(list(data.items()),columns=['period','data'])
#df= pd.DataFrame(data,index=[0])

In [221]:
#df2=pd.DataFrame.from_dict(data,orient='index')

In [222]:
df3

        period   data
0   1952-11-01    NaN
1   1953-02-01    NaN
2   1953-08-01    NaN
3   1953-11-01    NaN
4   1954-02-01    NaN
5   1954-05-01    NaN
6   1954-11-01    NaN
7   1955-02-01    NaN
8   1955-05-01    NaN
9   1955-11-01    NaN
10  1956-05-01    NaN
11  1956-08-01    NaN
12  1956-11-01    NaN
13  1957-05-01    NaN
14  1957-11-01    NaN
15  1958-02-01    NaN
16  1958-05-01    NaN
17  1958-11-01    NaN
18  1959-05-01    NaN
19  1959-11-01    NaN
20  1960-02-01    NaN
21  1960-05-01    NaN
22  1960-08-01    NaN
23  1960-11-01    NaN
24  1961-02-01    NaN
25  1961-05-01    NaN
26  1961-08-01    NaN
27  1961-11-01    NaN
28  1962-02-01    NaN
29  1962-05-01    NaN
..         ...    ...
540 2015-05-01   90.7
541 2015-06-01   96.1
542 2015-07-01   93.1
543 2015-08-01   91.9
544 2015-09-01   87.2
545 2015-10-01   90.0
546 2015-11-01   91.3
547 2015-12-01   92.6
548 2016-01-01   92.0
549 2016-02-01   91.7
550 2016-03-01   91.0
551 2016-04-01   89.0
552 2016-05-01   94.7
553 2016-06-01   93.5
554 2016-07-01   90.0
555 2016-08-01   89.8
556 2016-09-01   91.2
557 2016-10-01   87.2
558 2016-11-01   93.8
559 2016-12-01   98.2
560 2017-01-01   98.5
561 2017-02-01   96.3
562 2017-03-01   96.9
563 2017-04-01   97.0
564 2017-05-01   97.1
565 2017-06-01   95.1
566 2017-07-01   93.4
567 2017-08-01   96.8
568 2017-09-01   95.1
569 2017-10-01  100.7

[570 rows x 2 columns]

In [138]:
#df3['id']='id'

In [223]:
#idx=df3.get_index()
df3.index = df3.index +1

In [216]:
#df3['series_id']='GDPC1'
df3.index = df3.index.period

AttributeError: 'Int64Index' object has no attribute 'period'

In [207]:
#df3

In [110]:
from sqlalchemy import create_engine
import psycopg2

In [111]:
    engine = create_engine('postgresql://scott:tiger@localhost:5432/fundingcircle')

import pandas.io.sql
sql_db = pandas.io.sql.SQLDatabase(engine)

if not sql_db.has_table("gdp_data",schema="fred"):
    args = ["gdp_data", sql_db]
    kwargs = {
        "frame" : df3,
        "index" : True, 
        "index_label" : "id",
        "keys" : "id",
        "schema" : "fred"
    }
    sql_table = pandas.io.sql.SQLTable(*args, **kwargs)
    sql_table.create()

In [225]:
df3.to_sql('gdp_data', engine, if_exists='replace',schema='fred',index=True)

from sqlalchemy import create_engine
import psycopg2 as pg
#load python script that batch loads pandas df to sql
import cStringIO

address = 'postgresql://scott:tiger@localhost:5432/fundingcircle'
engine = create_engine(address)
connection = engine.raw_connection()
cursor = connection.cursor()

#df is the dataframe containing an index and the columns "Event" and "Day"
#create Index column to use as primary key
df.reset_index(inplace=True)
df.rename(columns={'index':'Index'}, inplace =True)

#create the table but first drop if it already exists
command = '''DROP TABLE IF EXISTS fred.gdp_data;
CREATE TABLE fred.gdp_data
(
"Index" serial primary key,
"period" timestamp without time zone not null,
"gdp_data" numeric not null,
);'''
cursor.execute(command)
connection.commit()

#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = cStringIO.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
#null values become ''
cur.copy_from(output, 'fred.gdp_data', null="")    
connection.commit()
cur.close()

In [166]:
if sql_db.has_table("gdp_data",schema="fred"):
    print('Here')

Here