In [1]:
import os
import sys
import xml.etree.ElementTree as ET
import urllib.request as url_request
import urllib.parse as url_parse
import urllib.error as url_error
import pandas as pd

In [2]:
urlopen = url_request.urlopen
quote_plus = url_parse.quote_plus
urlencode = url_parse.urlencode
HTTPError = url_error.HTTPError

In [3]:
nan_char = '.'
root_url = 'https://api.stlouisfed.org/fred'
api_key='bf7e372a4731983197a88028a0d6c23c'
series_id = 'GDPC1'
url = "%s/series/observations?series_id=%s" % (root_url, series_id)
url += '&api_key=' + api_key

In [15]:
observation_start='2017-07-01 00:00:00'
observation_end = None

In [16]:
if observation_start is not None:
    observation_start = pd.to_datetime(observation_start,
                                           errors='raise')
    url += '&observation_start=' + observation_start.strftime('%Y-%m-%d')
if observation_end is not None:
    observation_end = pd.to_datetime(observation_end, errors='raise')
    url += '&observation_end=' + observation_end.strftime('%Y-%m-%d')

In [17]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=GDPC1&api_key=bf7e372a4731983197a88028a0d6c23c&observation_start=2016-07-01&observation_start=2017-07-01'

In [18]:
try:
    response = urlopen(url)
    root = ET.fromstring(response.read())
except HTTPError as exc:
    root = ET.fromstring(exc.read())
    raise ValueError(root.get('message'))

data = {}

def parse_datetime(date_str, format='%Y-%m-%d'):
    rv = pd.to_datetime(date_str, format=format)
    if hasattr(rv, 'to_pydatetime'):
        rv = rv.to_pydatetime()
    return rv

for child in root.getchildren():
    val = child.get('value')
    if val == nan_char:
        val = float('NaN')
    else:
        val = float(val)
    data[parse_datetime(child.get('date'))] = val

In [19]:
data

{datetime.datetime(2017, 7, 1, 0, 0): 17169.733}

In [20]:
df3=pd.DataFrame(list(data.items()),columns=['period','gdp_data'])

In [21]:
df = df3[1:]

In [22]:
df

Empty DataFrame
Columns: [period, gdp_data]
Index: []

In [57]:
from sqlalchemy import create_engine, text
import psycopg2
engine = create_engine('postgresql://scott:tiger@localhost:5432/fundingcircle')
df.to_sql('gdp_data', engine, if_exists='append',schema='fred',index=True)

In [28]:
from enum import Enum
class TabName(Enum):
    GDPC1 = 'gdp_data_stg'
    UMCSENT = 'sentiment_idx_stg'
    UNRATE = 'unemployment_rate_stg'

In [40]:
class Table(Enum):
    gdp_data_stg = 'GDPC1'
    sentiment_idx_stg = 'UMCSENT'
    unemployment_rate_stg = 'UNRATE'

In [31]:
TabName.GDPC1.value

'gdp_data_stg'

In [45]:
series_id = "'GDPC1"

In [53]:
def fn():
    try:
        Table(series_id).name
    except:
        
        return {'undefined series'}

In [78]:
schema='fred'
table="gdp_data"

In [113]:
statement = "select index, period from "+ schema+"."+table+" order by period desc limit 1"

In [114]:
statement

'select index, period from fred.gdp_data order by period desc limit 1'

In [67]:
my_table = "fred.gdp_data"

In [83]:
#statement.format(**dict(table=my_table))

In [116]:
the_frame = pd.read_sql_query(statement, engine)
the_frame

   index     period
0    570 2017-10-01

In [118]:
date=the_frame.iloc[0][1].to_pydatetime()

In [119]:
pos=the_frame.iloc[0][0]

In [120]:
date

datetime.datetime(2017, 10, 1, 0, 0)

In [121]:
pos

570

In [110]:
date = pd.to_datetime(str) # format="%Y-%m-%d")

In [112]:
date

Timestamp('2017-10-01 00:00:00')