In [3]:
import os
import sys
import xml.etree.ElementTree as ET
import urllib.request as url_request
import urllib.parse as url_parse
import urllib.error as url_error
import pandas as pd

In [4]:
urlopen = url_request.urlopen
quote_plus = url_parse.quote_plus
urlencode = url_parse.urlencode
HTTPError = url_error.HTTPError

In [16]:
nan_char = '.'

In [5]:
root_url = 'https://api.stlouisfed.org/fred'

In [6]:
api_key='bf7e372a4731983197a88028a0d6c23c'

In [7]:
series_id = 'GDPC1'

In [8]:
url = "%s/series/observations?series_id=%s" % (root_url, series_id)

In [9]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=GDPC1'

In [10]:
url += '&api_key=' + api_key

In [11]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=GDPC1&api_key=bf7e372a4731983197a88028a0d6c23c'

In [13]:
try:
    response = urlopen(url)
    root = ET.fromstring(response.read())
except HTTPError as exc:
    root = ET.fromstring(exc.read())
    raise ValueError(root.get('message'))

print(root)

<Element 'observations' at 0x7f3b82a0acc8>

In [14]:
data = {}

In [20]:
def parse_datetime(date_str, format='%Y-%m-%d'):
    rv = pd.to_datetime(date_str, format=format)
    if hasattr(rv, 'to_pydatetime'):
        rv = rv.to_pydatetime()
    return rv

In [49]:
for child in root.getchildren():
    val = child.get('value')
    if val == nan_char:
        val = float('NaN')
    else:
        val = float(val)
    data[parse_datetime(child.get('date'))] = val

In [51]:
data

{datetime.datetime(1947, 1, 1, 0, 0): 1934.471,
 datetime.datetime(1947, 4, 1, 0, 0): 1932.281,
 datetime.datetime(1947, 7, 1, 0, 0): 1930.315,
 datetime.datetime(1947, 10, 1, 0, 0): 1960.705,
 datetime.datetime(1948, 1, 1, 0, 0): 1989.535,
 datetime.datetime(1948, 4, 1, 0, 0): 2021.851,
 datetime.datetime(1948, 7, 1, 0, 0): 2033.155,
 datetime.datetime(1948, 10, 1, 0, 0): 2035.329,
 datetime.datetime(1949, 1, 1, 0, 0): 2007.522,
 datetime.datetime(1949, 4, 1, 0, 0): 2000.788,
 datetime.datetime(1949, 7, 1, 0, 0): 2022.798,
 datetime.datetime(1949, 10, 1, 0, 0): 2004.653,
 datetime.datetime(1950, 1, 1, 0, 0): 2084.559,
 datetime.datetime(1950, 4, 1, 0, 0): 2147.592,
 datetime.datetime(1950, 7, 1, 0, 0): 2230.362,
 datetime.datetime(1950, 10, 1, 0, 0): 2273.435,
 datetime.datetime(1951, 1, 1, 0, 0): 2304.542,
 datetime.datetime(1951, 4, 1, 0, 0): 2344.517,
 datetime.datetime(1951, 7, 1, 0, 0): 2392.808,
 datetime.datetime(1951, 10, 1, 0, 0): 2398.105,
 datetime.datetime(1952, 1, 1, 0, 0): 2423.457,
 datetime.datetime(1952, 4, 1, 0, 0): 2428.516,
 datetime.datetime(1952, 7, 1, 0, 0): 2446.081,
 datetime.datetime(1952, 10, 1, 0, 0): 2526.359,
 datetime.datetime(1953, 1, 1, 0, 0): 2573.372,
 datetime.datetime(1953, 4, 1, 0, 0): 2593.456,
 datetime.datetime(1953, 7, 1, 0, 0): 2578.922,
 datetime.datetime(1953, 10, 1, 0, 0): 2539.786,
 datetime.datetime(1954, 1, 1, 0, 0): 2528.043,
 datetime.datetime(1954, 4, 1, 0, 0): 2530.689,
 datetime.datetime(1954, 7, 1, 0, 0): 2559.397,
 datetime.datetime(1954, 10, 1, 0, 0): 2609.272,
 datetime.datetime(1955, 1, 1, 0, 0): 2683.766,
 datetime.datetime(1955, 4, 1, 0, 0): 2727.452,
 datetime.datetime(1955, 7, 1, 0, 0): 2764.128,
 datetime.datetime(1955, 10, 1, 0, 0): 2780.762,
 datetime.datetime(1956, 1, 1, 0, 0): 2770.032,
 datetime.datetime(1956, 4, 1, 0, 0): 2792.872,
 datetime.datetime(1956, 7, 1, 0, 0): 2790.588,
 datetime.datetime(1956, 10, 1, 0, 0): 2836.238,
 datetime.datetime(1957, 1, 1, 0, 0): 2854.517,
 datetime.datetime(1957, 4, 1, 0, 0): 2848.186,
 datetime.datetime(1957, 7, 1, 0, 0): 2875.927,
 datetime.datetime(1957, 10, 1, 0, 0): 2846.446,
 datetime.datetime(1958, 1, 1, 0, 0): 2772.654,
 datetime.datetime(1958, 4, 1, 0, 0): 2790.948,
 datetime.datetime(1958, 7, 1, 0, 0): 2855.472,
 datetime.datetime(1958, 10, 1, 0, 0): 2922.264,
 datetime.datetime(1959, 1, 1, 0, 0): 2976.629,
 datetime.datetime(1959, 4, 1, 0, 0): 3049.011,
 datetime.datetime(1959, 7, 1, 0, 0): 3043.139,
 datetime.datetime(1959, 10, 1, 0, 0): 3055.104,
 datetime.datetime(1960, 1, 1, 0, 0): 3123.162,
 datetime.datetime(1960, 4, 1, 0, 0): 3111.31,
 datetime.datetime(1960, 7, 1, 0, 0): 3119.057,
 datetime.datetime(1960, 10, 1, 0, 0): 3081.3,
 datetime.datetime(1961, 1, 1, 0, 0): 3102.251,
 datetime.datetime(1961, 4, 1, 0, 0): 3159.918,
 datetime.datetime(1961, 7, 1, 0, 0): 3212.606,
 datetime.datetime(1961, 10, 1, 0, 0): 3277.717,
 datetime.datetime(1962, 1, 1, 0, 0): 3336.753,
 datetime.datetime(1962, 4, 1, 0, 0): 3372.706,
 datetime.datetime(1962, 7, 1, 0, 0): 3404.833,
 datetime.datetime(1962, 10, 1, 0, 0): 3418.046,
 datetime.datetime(1963, 1, 1, 0, 0): 3456.08,
 datetime.datetime(1963, 4, 1, 0, 0): 3501.134,
 datetime.datetime(1963, 7, 1, 0, 0): 3569.479,
 datetime.datetime(1963, 10, 1, 0, 0): 3594.954,
 datetime.datetime(1964, 1, 1, 0, 0): 3672.708,
 datetime.datetime(1964, 4, 1, 0, 0): 3716.382,
 datetime.datetime(1964, 7, 1, 0, 0): 3766.862,
 datetime.datetime(1964, 10, 1, 0, 0): 3780.219,
 datetime.datetime(1965, 1, 1, 0, 0): 3873.452,
 datetime.datetime(1965, 4, 1, 0, 0): 3926.406,
 datetime.datetime(1965, 7, 1, 0, 0): 4006.152,
 datetime.datetime(1965, 10, 1, 0, 0): 4100.631,
 datetime.datetime(1966, 1, 1, 0, 0): 4201.891,
 datetime.datetime(1966, 4, 1, 0, 0): 4219.097,
 datetime.datetime(1966, 7, 1, 0, 0): 4249.152,
 datetime.datetime(1966, 10, 1, 0, 0): 4285.582,
 datetime.datetime(1967, 1, 1, 0, 0): 4324.926,
 datetime.datetime(1967, 4, 1, 0, 0): 4328.72,
 datetime.datetime(1967, 7, 1, 0, 0): 4366.088,
 datetime.datetime(1967, 10, 1, 0, 0): 4401.233,
 datetime.datetime(1968, 1, 1, 0, 0): 4490.609,
 datetime.datetime(1968, 4, 1, 0, 0): 4566.442,
 datetime.datetime(1968, 7, 1, 0, 0): 4599.332,
 datetime.datetime(1968, 10, 1, 0, 0): 4619.803,
 datetime.datetime(1969, 1, 1, 0, 0): 4691.637,
 datetime.datetime(1969, 4, 1, 0, 0): 4706.684,
 datetime.datetime(1969, 7, 1, 0, 0): 4736.143,
 datetime.datetime(1969, 10, 1, 0, 0): 4715.469,
 datetime.datetime(1970, 1, 1, 0, 0): 4707.112,
 datetime.datetime(1970, 4, 1, 0, 0): 4715.441,
 datetime.datetime(1970, 7, 1, 0, 0): 4757.213,
 datetime.datetime(1970, 10, 1, 0, 0): 4708.281,
 datetime.datetime(1971, 1, 1, 0, 0): 4834.349,
 datetime.datetime(1971, 4, 1, 0, 0): 4861.938,
 datetime.datetime(1971, 7, 1, 0, 0): 4899.95,
 datetime.datetime(1971, 10, 1, 0, 0): 4914.261,
 datetime.datetime(1972, 1, 1, 0, 0): 5002.436,
 datetime.datetime(1972, 4, 1, 0, 0): 5118.278,
 datetime.datetime(1972, 7, 1, 0, 0): 5165.448,
 datetime.datetime(1972, 10, 1, 0, 0): 5251.226,
 datetime.datetime(1973, 1, 1, 0, 0): 5380.502,
 datetime.datetime(1973, 4, 1, 0, 0): 5441.504,
 datetime.datetime(1973, 7, 1, 0, 0): 5411.935,
 datetime.datetime(1973, 10, 1, 0, 0): 5462.397,
 datetime.datetime(1974, 1, 1, 0, 0): 5417.024,
 datetime.datetime(1974, 4, 1, 0, 0): 5431.265,
 datetime.datetime(1974, 7, 1, 0, 0): 5378.679,
 datetime.datetime(1974, 10, 1, 0, 0): 5357.166,
 datetime.datetime(1975, 1, 1, 0, 0): 5292.444,
 datetime.datetime(1975, 4, 1, 0, 0): 5333.22,
 datetime.datetime(1975, 7, 1, 0, 0): 5421.357,
 datetime.datetime(1975, 10, 1, 0, 0): 5494.446,
 datetime.datetime(1976, 1, 1, 0, 0): 5618.52,
 datetime.datetime(1976, 4, 1, 0, 0): 5660.972,
 datetime.datetime(1976, 7, 1, 0, 0): 5689.756,
 datetime.datetime(1976, 10, 1, 0, 0): 5732.462,
 datetime.datetime(1977, 1, 1, 0, 0): 5799.16,
 datetime.datetime(1977, 4, 1, 0, 0): 5912.977,
 datetime.datetime(1977, 7, 1, 0, 0): 6017.586,
 datetime.datetime(1977, 10, 1, 0, 0): 6018.218,
 datetime.datetime(1978, 1, 1, 0, 0): 6039.158,
 datetime.datetime(1978, 4, 1, 0, 0): 6273.963,
 datetime.datetime(1978, 7, 1, 0, 0): 6335.317,
 datetime.datetime(1978, 10, 1, 0, 0): 6420.288,
 datetime.datetime(1979, 1, 1, 0, 0): 6433.044,
 datetime.datetime(1979, 4, 1, 0, 0): 6440.832,
 datetime.datetime(1979, 7, 1, 0, 0): 6487.08,
 datetime.datetime(1979, 10, 1, 0, 0): 6503.874,
 datetime.datetime(1980, 1, 1, 0, 0): 6524.912,
 datetime.datetime(1980, 4, 1, 0, 0): 6392.578,
 datetime.datetime(1980, 7, 1, 0, 0): 6382.892,
 datetime.datetime(1980, 10, 1, 0, 0): 6501.184,
 datetime.datetime(1981, 1, 1, 0, 0): 6635.726,
 datetime.datetime(1981, 4, 1, 0, 0): 6587.269,
 datetime.datetime(1981, 7, 1, 0, 0): 6662.858,
 datetime.datetime(1981, 10, 1, 0, 0): 6585.127,
 datetime.datetime(1982, 1, 1, 0, 0): 6474.973,
 datetime.datetime(1982, 4, 1, 0, 0): 6510.247,
 datetime.datetime(1982, 7, 1, 0, 0): 6486.8,
 datetime.datetime(1982, 10, 1, 0, 0): 6493.128,
 datetime.datetime(1983, 1, 1, 0, 0): 6578.175,
 datetime.datetime(1983, 4, 1, 0, 0): 6728.287,
 datetime.datetime(1983, 7, 1, 0, 0): 6860.022,
 datetime.datetime(1983, 10, 1, 0, 0): 7001.489,
 datetime.datetime(1984, 1, 1, 0, 0): 7140.597,
 datetime.datetime(1984, 4, 1, 0, 0): 7266.01,
 datetime.datetime(1984, 7, 1, 0, 0): 7337.493,
 datetime.datetime(1984, 10, 1, 0, 0): 7396.019,
 datetime.datetime(1985, 1, 1, 0, 0): 7469.545,
 datetime.datetime(1985, 4, 1, 0, 0): 7537.928,
 datetime.datetime(1985, 7, 1, 0, 0): 7655.196,
 datetime.datetime(1985, 10, 1, 0, 0): 7712.624,
 datetime.datetime(1986, 1, 1, 0, 0): 7784.109,
 datetime.datetime(1986, 4, 1, 0, 0): 7819.843,
 datetime.datetime(1986, 7, 1, 0, 0): 7898.555,
 datetime.datetime(1986, 10, 1, 0, 0): 7939.45,
 datetime.datetime(1987, 1, 1, 0, 0): 7994.965,
 datetime.datetime(1987, 4, 1, 0, 0): 8084.71,
 datetime.datetime(1987, 7, 1, 0, 0): 8158.035,
 datetime.datetime(1987, 10, 1, 0, 0): 8292.687,
 datetime.datetime(1988, 1, 1, 0, 0): 8339.324,
 datetime.datetime(1988, 4, 1, 0, 0): 8449.51,
 datetime.datetime(1988, 7, 1, 0, 0): 8498.282,
 datetime.datetime(1988, 10, 1, 0, 0): 8610.85,
 datetime.datetime(1989, 1, 1, 0, 0): 8697.711,
 datetime.datetime(1989, 4, 1, 0, 0): 8766.105,
 datetime.datetime(1989, 7, 1, 0, 0): 8831.544,
 datetime.datetime(1989, 10, 1, 0, 0): 8850.23,
 datetime.datetime(1990, 1, 1, 0, 0): 8947.129,
 datetime.datetime(1990, 4, 1, 0, 0): 8981.727,
 datetime.datetime(1990, 7, 1, 0, 0): 8983.945,
 datetime.datetime(1990, 10, 1, 0, 0): 8907.363,
 datetime.datetime(1991, 1, 1, 0, 0): 8865.564,
 datetime.datetime(1991, 4, 1, 0, 0): 8934.366,
 datetime.datetime(1991, 7, 1, 0, 0): 8977.252,
 datetime.datetime(1991, 10, 1, 0, 0): 9016.444,
 datetime.datetime(1992, 1, 1, 0, 0): 9122.95,
 datetime.datetime(1992, 4, 1, 0, 0): 9223.545,
 datetime.datetime(1992, 7, 1, 0, 0): 9313.208,
 datetime.datetime(1992, 10, 1, 0, 0): 9406.528,
 datetime.datetime(1993, 1, 1, 0, 0): 9424.065,
 datetime.datetime(1993, 4, 1, 0, 0): 9480.106,
 datetime.datetime(1993, 7, 1, 0, 0): 9526.337,
 datetime.datetime(1993, 10, 1, 0, 0): 9653.509,
 datetime.datetime(1994, 1, 1, 0, 0): 9748.156,
 datetime.datetime(1994, 4, 1, 0, 0): 9881.384,
 datetime.datetime(1994, 7, 1, 0, 0): 9939.655,
 datetime.datetime(1994, 10, 1, 0, 0): 10052.518,
 datetime.datetime(1995, 1, 1, 0, 0): 10086.878,
 datetime.datetime(1995, 4, 1, 0, 0): 10122.122,
 datetime.datetime(1995, 7, 1, 0, 0): 10208.772,
 datetime.datetime(1995, 10, 1, 0, 0): 10281.246,
 datetime.datetime(1996, 1, 1, 0, 0): 10348.691,
 datetime.datetime(1996, 4, 1, 0, 0): 10529.379,
 datetime.datetime(1996, 7, 1, 0, 0): 10626.778,
 datetime.datetime(1996, 10, 1, 0, 0): 10739.057,
 datetime.datetime(1997, 1, 1, 0, 0): 10820.908,
 datetime.datetime(1997, 4, 1, 0, 0): 10984.15,
 datetime.datetime(1997, 7, 1, 0, 0): 11124.013,
 datetime.datetime(1997, 10, 1, 0, 0): 11210.329,
 datetime.datetime(1998, 1, 1, 0, 0): 11321.246,
 datetime.datetime(1998, 4, 1, 0, 0): 11431.046,
 datetime.datetime(1998, 7, 1, 0, 0): 11580.587,
 datetime.datetime(1998, 10, 1, 0, 0): 11770.686,
 datetime.datetime(1999, 1, 1, 0, 0): 11864.675,
 datetime.datetime(1999, 4, 1, 0, 0): 11962.524,
 datetime.datetime(1999, 7, 1, 0, 0): 12113.075,
 datetime.datetime(1999, 10, 1, 0, 0): 12323.336,
 datetime.datetime(2000, 1, 1, 0, 0): 12359.095,
 datetime.datetime(2000, 4, 1, 0, 0): 12592.53,
 datetime.datetime(2000, 7, 1, 0, 0): 12607.676,
 datetime.datetime(2000, 10, 1, 0, 0): 12679.338,
 datetime.datetime(2001, 1, 1, 0, 0): 12643.283,
 datetime.datetime(2001, 4, 1, 0, 0): 12710.303,
 datetime.datetime(2001, 7, 1, 0, 0): 12670.106,
 datetime.datetime(2001, 10, 1, 0, 0): 12705.269,
 datetime.datetime(2002, 1, 1, 0, 0): 12822.258,
 datetime.datetime(2002, 4, 1, 0, 0): 12893.002,
 datetime.datetime(2002, 7, 1, 0, 0): 12955.769,
 datetime.datetime(2002, 10, 1, 0, 0): 12964.016,
 datetime.datetime(2003, 1, 1, 0, 0): 13031.169,
 datetime.datetime(2003, 4, 1, 0, 0): 13152.089,
 datetime.datetime(2003, 7, 1, 0, 0): 13372.357,
 datetime.datetime(2003, 10, 1, 0, 0): 13528.71,
 datetime.datetime(2004, 1, 1, 0, 0): 13606.509,
 datetime.datetime(2004, 4, 1, 0, 0): 13706.247,
 datetime.datetime(2004, 7, 1, 0, 0): 13830.828,
 datetime.datetime(2004, 10, 1, 0, 0): 13950.376,
 datetime.datetime(2005, 1, 1, 0, 0): 14099.081,
 datetime.datetime(2005, 4, 1, 0, 0): 14172.695,
 datetime.datetime(2005, 7, 1, 0, 0): 14291.757,
 datetime.datetime(2005, 10, 1, 0, 0): 14373.438,
 datetime.datetime(2006, 1, 1, 0, 0): 14546.119,
 datetime.datetime(2006, 4, 1, 0, 0): 14589.585,
 datetime.datetime(2006, 7, 1, 0, 0): 14602.633,
 datetime.datetime(2006, 10, 1, 0, 0): 14716.93,
 datetime.datetime(2007, 1, 1, 0, 0): 14726.022,
 datetime.datetime(2007, 4, 1, 0, 0): 14838.664,
 datetime.datetime(2007, 7, 1, 0, 0): 14938.467,
 datetime.datetime(2007, 10, 1, 0, 0): 14991.784,
 datetime.datetime(2008, 1, 1, 0, 0): 14889.45,
 datetime.datetime(2008, 4, 1, 0, 0): 14963.357,
 datetime.datetime(2008, 7, 1, 0, 0): 14891.643,
 datetime.datetime(2008, 10, 1, 0, 0): 14576.985,
 datetime.datetime(2009, 1, 1, 0, 0): 14375.018,
 datetime.datetime(2009, 4, 1, 0, 0): 14355.558,
 datetime.datetime(2009, 7, 1, 0, 0): 14402.477,
 datetime.datetime(2009, 10, 1, 0, 0): 14541.901,
 datetime.datetime(2010, 1, 1, 0, 0): 14604.845,
 datetime.datetime(2010, 4, 1, 0, 0): 14745.933,
 datetime.datetime(2010, 7, 1, 0, 0): 14845.458,
 datetime.datetime(2010, 10, 1, 0, 0): 14939.001,
 datetime.datetime(2011, 1, 1, 0, 0): 14881.301,
 datetime.datetime(2011, 4, 1, 0, 0): 14989.555,
 datetime.datetime(2011, 7, 1, 0, 0): 15021.149,
 datetime.datetime(2011, 10, 1, 0, 0): 15190.255,
 datetime.datetime(2012, 1, 1, 0, 0): 15291.035,
 datetime.datetime(2012, 4, 1, 0, 0): 15362.415,
 datetime.datetime(2012, 7, 1, 0, 0): 15380.802,
 datetime.datetime(2012, 10, 1, 0, 0): 15384.254,
 datetime.datetime(2013, 1, 1, 0, 0): 15491.878,
 datetime.datetime(2013, 4, 1, 0, 0): 15521.559,
 datetime.datetime(2013, 7, 1, 0, 0): 15641.336,
 datetime.datetime(2013, 10, 1, 0, 0): 15793.928,
 datetime.datetime(2014, 1, 1, 0, 0): 15757.57,
 datetime.datetime(2014, 4, 1, 0, 0): 15935.825,
 datetime.datetime(2014, 7, 1, 0, 0): 16139.513,
 datetime.datetime(2014, 10, 1, 0, 0): 16220.222,
 datetime.datetime(2015, 1, 1, 0, 0): 16349.97,
 datetime.datetime(2015, 4, 1, 0, 0): 16460.889,
 datetime.datetime(2015, 7, 1, 0, 0): 16527.587,
 datetime.datetime(2015, 10, 1, 0, 0): 16547.619,
 datetime.datetime(2016, 1, 1, 0, 0): 16571.573,
 datetime.datetime(2016, 4, 1, 0, 0): 16663.516,
 datetime.datetime(2016, 7, 1, 0, 0): 16778.148,
 datetime.datetime(2016, 10, 1, 0, 0): 16851.42,
 datetime.datetime(2017, 1, 1, 0, 0): 16903.24,
 datetime.datetime(2017, 4, 1, 0, 0): 17031.085,
 datetime.datetime(2017, 7, 1, 0, 0): 17169.733}

In [154]:
df3=pd.DataFrame(list(data.items()),columns=['period','gdp_data'])
#df= pd.DataFrame(data,index=[0])

In [160]:
#df2=pd.DataFrame.from_dict(data,orient='index')

In [162]:
df3

        period   gdp_data
0   1947-01-01   1934.471
1   1947-04-01   1932.281
2   1947-07-01   1930.315
3   1947-10-01   1960.705
4   1948-01-01   1989.535
5   1948-04-01   2021.851
6   1948-07-01   2033.155
7   1948-10-01   2035.329
8   1949-01-01   2007.522
9   1949-04-01   2000.788
10  1949-07-01   2022.798
11  1949-10-01   2004.653
12  1950-01-01   2084.559
13  1950-04-01   2147.592
14  1950-07-01   2230.362
15  1950-10-01   2273.435
16  1951-01-01   2304.542
17  1951-04-01   2344.517
18  1951-07-01   2392.808
19  1951-10-01   2398.105
20  1952-01-01   2423.457
21  1952-04-01   2428.516
22  1952-07-01   2446.081
23  1952-10-01   2526.359
24  1953-01-01   2573.372
25  1953-04-01   2593.456
26  1953-07-01   2578.922
27  1953-10-01   2539.786
28  1954-01-01   2528.043
29  1954-04-01   2530.689
..         ...        ...
253 2010-04-01  14745.933
254 2010-07-01  14845.458
255 2010-10-01  14939.001
256 2011-01-01  14881.301
257 2011-04-01  14989.555
258 2011-07-01  15021.149
259 2011-10-01  15190.255
260 2012-01-01  15291.035
261 2012-04-01  15362.415
262 2012-07-01  15380.802
263 2012-10-01  15384.254
264 2013-01-01  15491.878
265 2013-04-01  15521.559
266 2013-07-01  15641.336
267 2013-10-01  15793.928
268 2014-01-01  15757.570
269 2014-04-01  15935.825
270 2014-07-01  16139.513
271 2014-10-01  16220.222
272 2015-01-01  16349.970
273 2015-04-01  16460.889
274 2015-07-01  16527.587
275 2015-10-01  16547.619
276 2016-01-01  16571.573
277 2016-04-01  16663.516
278 2016-07-01  16778.148
279 2016-10-01  16851.420
280 2017-01-01  16903.240
281 2017-04-01  17031.085
282 2017-07-01  17169.733

[283 rows x 2 columns]

In [138]:
df3['id']='id'

In [173]:
#idx=df3.get_index()
df3.index = df3.index +1

In [175]:
df3

        period   gdp_data
1   1947-01-01   1934.471
2   1947-04-01   1932.281
3   1947-07-01   1930.315
4   1947-10-01   1960.705
5   1948-01-01   1989.535
6   1948-04-01   2021.851
7   1948-07-01   2033.155
8   1948-10-01   2035.329
9   1949-01-01   2007.522
10  1949-04-01   2000.788
11  1949-07-01   2022.798
12  1949-10-01   2004.653
13  1950-01-01   2084.559
14  1950-04-01   2147.592
15  1950-07-01   2230.362
16  1950-10-01   2273.435
17  1951-01-01   2304.542
18  1951-04-01   2344.517
19  1951-07-01   2392.808
20  1951-10-01   2398.105
21  1952-01-01   2423.457
22  1952-04-01   2428.516
23  1952-07-01   2446.081
24  1952-10-01   2526.359
25  1953-01-01   2573.372
26  1953-04-01   2593.456
27  1953-07-01   2578.922
28  1953-10-01   2539.786
29  1954-01-01   2528.043
30  1954-04-01   2530.689
..         ...        ...
254 2010-04-01  14745.933
255 2010-07-01  14845.458
256 2010-10-01  14939.001
257 2011-01-01  14881.301
258 2011-04-01  14989.555
259 2011-07-01  15021.149
260 2011-10-01  15190.255
261 2012-01-01  15291.035
262 2012-04-01  15362.415
263 2012-07-01  15380.802
264 2012-10-01  15384.254
265 2013-01-01  15491.878
266 2013-04-01  15521.559
267 2013-07-01  15641.336
268 2013-10-01  15793.928
269 2014-01-01  15757.570
270 2014-04-01  15935.825
271 2014-07-01  16139.513
272 2014-10-01  16220.222
273 2015-01-01  16349.970
274 2015-04-01  16460.889
275 2015-07-01  16527.587
276 2015-10-01  16547.619
277 2016-01-01  16571.573
278 2016-04-01  16663.516
279 2016-07-01  16778.148
280 2016-10-01  16851.420
281 2017-01-01  16903.240
282 2017-04-01  17031.085
283 2017-07-01  17169.733

[283 rows x 2 columns]

In [110]:
from sqlalchemy import create_engine
import psycopg2

In [111]:
engine = create_engine('postgresql://scott:tiger@localhost:5432/fundingcircle')

In [ ]:
import pandas.io.sql
sql_db = pandas.io.sql.SQLDatabase(engine)

if not sql_db.has_table("gdp_data",schema="fred"):
    args = ["gdp_data", sql_db]
    kwargs = {
        "frame" : df3,
        "index" : True, 
        "index_label" : "id",
        "keys" : "id",
        "schema" : "fred"
    }
    sql_table = pandas.io.sql.SQLTable(*args, **kwargs)
    sql_table.create()

In [178]:
df3.to_sql('gdp_data', engine, if_exists='replace',schema='fred',index=True)

from sqlalchemy import create_engine
import psycopg2 as pg
#load python script that batch loads pandas df to sql
import cStringIO

address = 'postgresql://scott:tiger@localhost:5432/fundingcircle'
engine = create_engine(address)
connection = engine.raw_connection()
cursor = connection.cursor()

#df is the dataframe containing an index and the columns "Event" and "Day"
#create Index column to use as primary key
df.reset_index(inplace=True)
df.rename(columns={'index':'Index'}, inplace =True)

#create the table but first drop if it already exists
command = '''DROP TABLE IF EXISTS fred.gdp_data;
CREATE TABLE fred.gdp_data
(
"Index" serial primary key,
"period" timestamp without time zone not null,
"gdp_data" numeric not null,
);'''
cursor.execute(command)
connection.commit()

#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = cStringIO.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
#null values become ''
cur.copy_from(output, 'fred.gdp_data', null="")    
connection.commit()
cur.close()

In [166]:
if sql_db.has_table("gdp_data",schema="fred"):
    print('Here')

Here