In [3]:
import os
import sys
import xml.etree.ElementTree as ET
import urllib.request as url_request
import urllib.parse as url_parse
import urllib.error as url_error
import pandas as pd

In [4]:
urlopen = url_request.urlopen
quote_plus = url_parse.quote_plus
urlencode = url_parse.urlencode
HTTPError = url_error.HTTPError

In [16]:
nan_char = '.'

In [5]:
root_url = 'https://api.stlouisfed.org/fred'

In [6]:
api_key='bf7e372a4731983197a88028a0d6c23c'

In [7]:
series_id = 'GDPC1'

In [8]:
url = "%s/series/observations?series_id=%s" % (root_url, series_id)

In [9]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=GDPC1'

In [10]:
url += '&api_key=' + api_key

In [11]:
url

'https://api.stlouisfed.org/fred/series/observations?series_id=GDPC1&api_key=bf7e372a4731983197a88028a0d6c23c'

In [13]:
try:
    response = urlopen(url)
    root = ET.fromstring(response.read())
except HTTPError as exc:
    root = ET.fromstring(exc.read())
    raise ValueError(root.get('message'))

print(root)

<Element 'observations' at 0x7f3b82a0acc8>

In [14]:
data = {}

In [20]:
def parse_datetime(date_str, format='%Y-%m-%d'):
    rv = pd.to_datetime(date_str, format=format)
    if hasattr(rv, 'to_pydatetime'):
        rv = rv.to_pydatetime()
    return rv

In [49]:
for child in root.getchildren():
    val = child.get('value')
    if val == nan_char:
        val = float('NaN')
    else:
        val = float(val)
    data[parse_datetime(child.get('date'))] = val

In [181]:
#data

In [154]:
df3=pd.DataFrame(list(data.items()),columns=['period','gdp_data'])
#df= pd.DataFrame(data,index=[0])

In [160]:
#df2=pd.DataFrame.from_dict(data,orient='index')

In [180]:
#df3

In [138]:
#df3['id']='id'

In [173]:
#idx=df3.get_index()
df3.index = df3.index +1

In [183]:
df3['series_id']='GDPC1'

In [184]:
df3

        period   gdp_data series_id
1   1947-01-01   1934.471     GDPC1
2   1947-04-01   1932.281     GDPC1
3   1947-07-01   1930.315     GDPC1
4   1947-10-01   1960.705     GDPC1
5   1948-01-01   1989.535     GDPC1
6   1948-04-01   2021.851     GDPC1
7   1948-07-01   2033.155     GDPC1
8   1948-10-01   2035.329     GDPC1
9   1949-01-01   2007.522     GDPC1
10  1949-04-01   2000.788     GDPC1
11  1949-07-01   2022.798     GDPC1
12  1949-10-01   2004.653     GDPC1
13  1950-01-01   2084.559     GDPC1
14  1950-04-01   2147.592     GDPC1
15  1950-07-01   2230.362     GDPC1
16  1950-10-01   2273.435     GDPC1
17  1951-01-01   2304.542     GDPC1
18  1951-04-01   2344.517     GDPC1
19  1951-07-01   2392.808     GDPC1
20  1951-10-01   2398.105     GDPC1
21  1952-01-01   2423.457     GDPC1
22  1952-04-01   2428.516     GDPC1
23  1952-07-01   2446.081     GDPC1
24  1952-10-01   2526.359     GDPC1
25  1953-01-01   2573.372     GDPC1
26  1953-04-01   2593.456     GDPC1
27  1953-07-01   2578.922     GDPC1
28  1953-10-01   2539.786     GDPC1
29  1954-01-01   2528.043     GDPC1
30  1954-04-01   2530.689     GDPC1
..         ...        ...       ...
254 2010-04-01  14745.933     GDPC1
255 2010-07-01  14845.458     GDPC1
256 2010-10-01  14939.001     GDPC1
257 2011-01-01  14881.301     GDPC1
258 2011-04-01  14989.555     GDPC1
259 2011-07-01  15021.149     GDPC1
260 2011-10-01  15190.255     GDPC1
261 2012-01-01  15291.035     GDPC1
262 2012-04-01  15362.415     GDPC1
263 2012-07-01  15380.802     GDPC1
264 2012-10-01  15384.254     GDPC1
265 2013-01-01  15491.878     GDPC1
266 2013-04-01  15521.559     GDPC1
267 2013-07-01  15641.336     GDPC1
268 2013-10-01  15793.928     GDPC1
269 2014-01-01  15757.570     GDPC1
270 2014-04-01  15935.825     GDPC1
271 2014-07-01  16139.513     GDPC1
272 2014-10-01  16220.222     GDPC1
273 2015-01-01  16349.970     GDPC1
274 2015-04-01  16460.889     GDPC1
275 2015-07-01  16527.587     GDPC1
276 2015-10-01  16547.619     GDPC1
277 2016-01-01  16571.573     GDPC1
278 2016-04-01  16663.516     GDPC1
279 2016-07-01  16778.148     GDPC1
280 2016-10-01  16851.420     GDPC1
281 2017-01-01  16903.240     GDPC1
282 2017-04-01  17031.085     GDPC1
283 2017-07-01  17169.733     GDPC1

[283 rows x 3 columns]

In [110]:
from sqlalchemy import create_engine
import psycopg2

In [111]:
    engine = create_engine('postgresql://scott:tiger@localhost:5432/fundingcircle')

import pandas.io.sql
sql_db = pandas.io.sql.SQLDatabase(engine)

if not sql_db.has_table("gdp_data",schema="fred"):
    args = ["gdp_data", sql_db]
    kwargs = {
        "frame" : df3,
        "index" : True, 
        "index_label" : "id",
        "keys" : "id",
        "schema" : "fred"
    }
    sql_table = pandas.io.sql.SQLTable(*args, **kwargs)
    sql_table.create()

In [185]:
df3.to_sql('gdp_data', engine, if_exists='replace',schema='fred',index=True)

from sqlalchemy import create_engine
import psycopg2 as pg
#load python script that batch loads pandas df to sql
import cStringIO

address = 'postgresql://scott:tiger@localhost:5432/fundingcircle'
engine = create_engine(address)
connection = engine.raw_connection()
cursor = connection.cursor()

#df is the dataframe containing an index and the columns "Event" and "Day"
#create Index column to use as primary key
df.reset_index(inplace=True)
df.rename(columns={'index':'Index'}, inplace =True)

#create the table but first drop if it already exists
command = '''DROP TABLE IF EXISTS fred.gdp_data;
CREATE TABLE fred.gdp_data
(
"Index" serial primary key,
"period" timestamp without time zone not null,
"gdp_data" numeric not null,
);'''
cursor.execute(command)
connection.commit()

#stream the data using 'to_csv' and StringIO(); then use sql's 'copy_from' function
output = cStringIO.StringIO()
#ignore the index
df.to_csv(output, sep='\t', header=False, index=False)
#jump to start of stream
output.seek(0)
contents = output.getvalue()
cur = connection.cursor()
#null values become ''
cur.copy_from(output, 'fred.gdp_data', null="")    
connection.commit()
cur.close()

In [166]:
if sql_db.has_table("gdp_data",schema="fred"):
    print('Here')

Here